<!-- views/partials/header.ejs -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-right" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/a/properties">Property Listings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/message">Message</a>
        </li>
        <% if(locals.user !== null) { %>
        <li class="nav-item">
          <a class="nav-link" href="/editUser">Edit User</a>
        </li>
        <% } %>
        <li class="nav-item">
          <a class="nav-link" href=<%= locals.user === null ? "/login" : "/logout"%>><%= locals.user === null ? "Login" : "Logout"%> </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
