<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="jumbotron topbox threebox">
      <div class="container">

        <div class="card-deck">
          <div class="card m-b-30">
            <img class="card-img-top img-fluid" src="/public/images/Landlords.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Landlords </h5>
              <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum
                has been the industry's standard dummy text ever since the 1500s, when ...</p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
          <div class="card m-b-30">
            <img class="card-img-top img-fluid" src="/public/images/tenants.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Tenants </h5>
              <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum
                has been the industry's standard dummy text ever since the 1500s, when ...</p>
              <p class="card-text">
                <small class="text-muted">Last updated 2 mins ago</small>
              </p>
            </div>
          </div>
          <div class="card m-b-30">
            <img class="card-img-top img-fluid" src="/public/images/Contractors.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Contractors</h5>
              <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum
                has been the industry's standard dummy text ever since the 1500s, when ...</p>
              <p class="card-text">
                <small class="text-muted">Last updated 15 mins ago</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="problem-box mid-section">
      <div class="container">
        <div class="row">

          <div class="col col-sm-12">

            <div class="row">
              <div class="col col-sm-4">
                <div class="fakeimg"><img src="/public/images/problem.jpg" alt="" class="img-fluid"></div>
              </div>
              <div class="col col-sm-8">
                <h3>Problem</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing
                  and
                  typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                  when
                  ...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="solution-box mid-section">
      <div class="container">
        <div class="row">

          <div class="col col-sm-12">

            <div class="row">
              <div class="col col-sm-8">
                <h3>Solution</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing
                  and
                  typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                  when
                  ...</p>
              </div>
              <div class="col col-sm-4">
                <div class="fakeimg"><img src="/public/images/solution.jpg" alt="" class="img-fluid"></div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="about-us-box mid-section">
      <div class="container">
        <div class="row">

          <div class="col col-sm-12">

            <div class="row">
              <div class="col col-sm-4">
                <div class="fakeimg"><img src="/public/images/about-us.jpg" alt="" class="img-fluid"></div>
              </div>
              <div class="col col-sm-8">
                <h3>About us</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing
                  and
                  typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                  when
                  ...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="bottom-cardbox threebox">
      <div class="container">

        <div class="card-deck">
          <div class="card m-b-30">
            <img class="card-img-top img-fluid" src="/public/images/Landlords.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Landlords </h5>
              <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum
                has been the industry's standard dummy text ever since the 1500s, when ...</p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
          <div class="card m-b-30">
            <img class="card-img-top img-fluid" src="/public/images/tenants.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Tenants </h5>
              <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum
                has been the industry's standard dummy text ever since the 1500s, when ...</p>
              <p class="card-text">
                <small class="text-muted">Last updated 2 mins ago</small>
              </p>
            </div>
          </div>
          <div class="card m-b-30">
            <img class="card-img-top img-fluid" src="/public/images/Contractors.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Contractors</h5>
              <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum
                has been the industry's standard dummy text ever since the 1500s, when ...</p>
              <p class="card-text">
                <small class="text-muted">Last updated 15 mins ago</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer>
    <% include ../partials/footer %>
  </footer>
</body>

</html>